body{
background: linear-gradient(to right, #2A2C2C,#83BBBB);
color: rgb(66, 167, 133);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: justify;
}

h1{
    
    text-align: left;
    
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
   
}

ul li img {
    width: 80px;
    height: 80px;
}

a :hover{
    width: 120px;
    height: 120px;
}
#header{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin: auto;
}

.parrafo{
    
    width: 50%;
    height: auto;
    padding: 2%;
    position: absolute;
    top: 10%;

    
}

#massobremi{
    display: flex;
    justify-content: center;
    align-items: center;
}

#massobremi ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.cuadros{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    position: relative;
    padding-top: 10%;
}

.trabajoactual{
    margin: 15px;
    padding: 15px;
    background-color: azure;
    border-radius: 8px;
    width: 30%;
    height: 30%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5)
   
}

.descripcionTrabajo{
   margin: auto;
   padding:3%;

}
.descripcionconocimientos{
    margin: 2%;
   padding:1%;
}

.conocimientos{
    margin: 15px;
    padding: 15px;
    background-color: azure;
    border-radius: 8px;
    width: 30%;
    height: 30%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5)
   
}

.imagen-personal{

    width: 50%;
    margin-right: 3%;
    padding-top: 3%;
}

.formulario{
    display: flex;
    width: 16%;
    height: auto;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 1px solid aquamarine;
    position: absolute;
    top: 40%; 
    left: 3%;
    border-radius: 8px;
    align-items: center;
}

input{
    display: flex;
    height: auto;
    border-radius: 5px;
    margin: 20px;
    padding: auto;
}
#motivo {
    padding: 30px;
    height: 30px;
    width: 112px;
}
.boton{
    display: flex;
    justify-content: center;
    
}

button{
    background-color: aquamarine;
}

button:hover{
    width: 70px;
}

.slidergeneral {
    text-align: center;
    padding: 20px;
}

.slidergeneral h1 {
    font-size: 24px;
    margin-bottom: 20px;
}


.slidergeneral {
   
    margin: 1%;
    padding: 1%;
    display: flex;
    padding-top: 5%;
}

.slider{
    display: flex;
}

.slider img{
    width: 250px;
    height: 130px;
    margin: 2%;
    padding: 5%;
    justify-content: space-between;
}

.slidertercer img{
    padding: 5%;
}

.sliderprimer img{
margin: 5%;
}

.slidersegunso img{
margin: 5% ;
}
.experiencias{
    padding: 5%;
    
}